.container-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.input-buscador{
    width: 85%;
    margin-top: .6rem;
    height: 35px;
    border: none;
    border-radius: 10px;
    padding-left: .4rem;
    color: black;
    font-weight: 700;
    outline: none;
}


.container-form >h3{
    width: 85%
}

@media screen and (max-width:720px) {
    .input-buscador{
        width: 90%;
    }

    .container-form>h3{
        width: 90%;
    }
}