.box-heroe{
    width: 100%;
    display: flex;
}

.info-heroe{
    display: flex;
    width: 50%;
    height: auto;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: .5rem;
}

.info-heroe>a{
    color: #374BEC;
    text-decoration: none;
}

.info-heroe>a:hover{
    text-decoration: underline;
}

.info-heroe>a{
    cursor: pointer;
}

.info-heroe>p,.info-heroe>h2,.info-heroe>h3{
    width: 100%;
    text-align: center;
}


.box-imagen-heroe{
    width: 50%;
    height: 100%;
}

.imagen-heroe{
    width: 100%;
}

@media  screen and (max-width:770px) {
    .box-heroe{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box-imagen-heroe{
        width: 55%;
    }

    .info-heroe{
        padding-top: .5rem;
    }
}