.head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    overflow: hidden;
}

.titulo-head{
    margin-left: 3rem;
}

.titulo-head::after{
    content: 'App';
    color: #374BEC;
}

.lista{
    margin-right: 3rem;
    display: flex;
}

.lista>p{
    font-weight: 700;
}

.item-list{
    text-decoration: none;
    margin: 0 .6rem 0 .6rem;
    font-weight: 700;
    position: relative;
}

.item-list:hover{
    color: #374BEC;
}

.active{
    color: #374BEC;
}

.boton-salir2{
    font-size: 1rem;
}

.item-list::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #374BEC;
    left: 0;
    bottom: -4px;
    transform: scale(0);
    border-radius: 2px;
    transition: all .2s ease-in-out;
}

.item-list:hover::after{
    transform: scale(1);
    transform-origin: bottom;
}

.label-menu{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1.6rem;
    height: 1.3rem;
    background: transparent;
    margin-right: 5%;

}

.label-menu > div{
    background-color: white;
    border: none;
    border-radius: 10px;
    height: 2px;
    width: 100%;
    transition: all .4s;
    transform-origin: left;
    z-index: 5;
}

.check-menu{
    display: none;
}

.div-1{
    transform: rotate(45deg);
}

.div-2{
    opacity: 0;
}

.div-3{
    transform: rotate(-45deg);
}

.lista2{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #040f13;
    z-index: 3;
    transition: all .8s;
    transform: translateX(-100%);
}

.item-list2{
    margin:5%;
    font-size: 1.7rem;
}

.boton-salir{
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.check-menu:checked ~ul{
    transform: translateX(0);
}

@media screen and (max-width:770px){
    

    
    .label-menu{
        display: flex;
    }

    .lista{
        display: none;
    }

    




}


